---
import Layout from '../../layouts/Layout.astro';
import { allProducts } from '../../data/products.ts';
import { InteractiveProductGrid } from '../../components/InteractiveProductGrid.tsx';
import Breadcrumb from '../../components/Breadcrumb.astro';

const breadcrumbLinks = [
  { text: 'Home', href: '/' },
  { text: 'All Products', href: null } // Current page
];
---
<Layout>
  <main>
    <div class="px-6 pt-8">
      <Breadcrumb links={breadcrumbLinks} />
    </div>
    <InteractiveProductGrid 
      client:load 
      products={allProducts} 
      title="All Products" 
      productCount={allProducts.length} 
    />
  </main>
</Layout>